<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true" internalLogLevel="Trace" internalLogFile="${basedir}\logs\internallog.log" throwConfigExceptions="true">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Database" />
	</extensions>
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="applog" fileName="logs/${shortdate}_applog.txt"
			layout="[${level:uppercase=true}] ${logger} - ${message}" />
		<!-- Other targets like console, database, etc. can be added here -->
		<target name="database"
				xsi:type="Database"
				connectionString="Server=DESKTOP-B2AQLAE\SQLEXPRESS;Database=WebApp1;Trusted_Connection=True;Encrypt=False"
			    dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
				commandText="Insert into Logs ([Title],[Message],[Tarih],[Employeeid],[User],[State])
				              Values(@title,@message,@tarih,@employeeid,@user,@state)">
			<parameter name="@title" layout="${event-properties:item=Title}" dbType="AnsiString"/>
			<parameter name="@message" layout="${message}"  dbType="AnsiString"/>
			<parameter name="@tarih" layout="${longdate}" dbType="DateTime"/>
			<parameter name="@employeeid" layout="${event-properties:item=Employeeid}" dbType="Int32"/>
			<parameter name="@user" layout="${event-properties:item=User}" dbType="AnsiString"/>
			<parameter name="@state" layout="${event-properties:item=State}" dbType="AnsiString"/>

		</target>
	</targets>
	<rules>

		<!-- Microsoft ve System loglarını filtrele -->
		<logger name="Microsoft.*" minlevel="Error" final="true" />
		<logger name="System.*" minlevel="Error" final="true" />

		<!-- Sadece kendi logların -->
		<logger name="Webapiproje.Controllers.LoginController" minlevel="Info" writeTo="applog,database" />
	</rules>
</nlog>